---
permalink: /404
layout: default
---

<style type="text/css" media="screen">
  h1 .404 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div style="text-align: center;">
  <h1 class="404">404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
</div>
