<hr class="separator" style="margin: 34px 0;">
<div class="container" style="margin: 34px 0; color: rgb(143, 143, 143);">
    <sub>Copyright &copy 2020 iputra.dev</sub>
</div>

<script src="/assets/js/prism.js"></script>