<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title | upcase }} - {% endif %}{{ site. title | capitalize }}</title>
    <meta name="theme-color" content="#FFE75E">

    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" async>
    <link rel="stylesheet" href="/assets/css/normalize.css" async>
    <link rel="stylesheet" href="/assets/css/prism.css" async>
    <link rel="stylesheet" href="/assets/css/style.css" async>
</head>