<header class="header-box container">
    <div class="header-img"><a href="/"><img src="/assets/images/ava.png" alt="avatar"></a></div>
    <div class="header-container">
        <h1 class="header-title"><a href="/">{{ site.title }}</a></h1>
        <div class="header-description">{{ site.description }}</div>
    </div>
</header>

<navigation class="navigation-list container">
    <div class="navigation-item"><a href="/">HOME</a></div>
    <!-- 
    <div class="navigation-item"><a href="/projects">Projects</a></div>
    <div class="navigation-item"><a href="/talks">Talks</a></div class="navigation-item">
    -->
    <div class="navigation-item"><a href="/about-me">ABOUT</a></div class="navigation-item">
</navigation>