body {
    color: #29292C;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25rem;
}

sub {
    position: static;
}

::selection {
    background: #FEB72B;
    color: whitesmoke;
}

.container {
    padding: 0 3%;
}

.header-box {
    padding: 1.25rem;
    background: #FFE75E;
    background: linear-gradient(120deg, #FFE75E 0%, #FEB72B 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-title {
    color: #FEB72B;
    margin: 0;
    padding: 0;
}

.header-container {
    text-align: center;
}

navigation {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.navigation-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.navigation-item {
    padding: 1.75rem 1.25rem;
    font-size: 1.15rem;
    font-weight: 600;
}

hr {
    margin: 0;
}

.content {
    width: 100%;
    word-wrap: break-word; 
}

a {
    text-decoration: unset;
    color: #29292C;
}

a:active {
    outline: 3px solid #FEB72B;
    color: #FEB72B;
}

a:hover {
    color: #FEB72B;
}

.post-tag {
    color: #FEB72B;
}

.post-tag:hover {
    color: #FFE75E;
}

.post-title {
    font-weight: 700;
}

.post-description {
    margin-bottom: 34px;
}

.sidebar {
    font-size: 18px;
    margin-top: 2.5em;
    border-top: 1px solid rgba(0,0,0,.1);
}

.sidebar-title {
    font-size: 21px;
}

.sidebar-item {
    margin-right: 8px;
    line-height: 1.5em;
}

.content p {
    line-height: 2rem;
}

.related-post {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.related-post .previous, .related-post .next {
    width: 100%;
}

.related-post .previous {
    text-align: left;
}

.related-post .next {
    text-align: right;
}

.content a {
    color: #FEB72B;
}

.pagination {
    text-align: center;
}

.pagination * {
    margin: 0 0.25rem;
}

.pagination a {
    color: #FEB72B;
}

.content-meta {
    font-size: 1rem;
    margin-bottom: 55px;
    color: rgb(161, 161, 161);
}

.content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

blockquote {
    background-color: #efedf7;
    padding: 2px 21px;
    margin: 0;
    border-left: 5px solid gray;
}

blockquote em::before {
    content: "- ";
}

.separator {
    border: unset;
    border-top: 1px solid rgba(0,0,0,.1);
}

.post-tag-list {
    display: inline-block;
    font-size: 0.75em;
}

.post-tag-list a {
    margin: 0 2px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    body {
        margin: 1rem;
    }

    .container {
        padding-right: 10%;
        padding-left: 10%;
    }

    .header-box {
        justify-content: unset;
        border-radius: 0.5rem;
    }

    .header-container {
        padding-left: 5%;
        text-align: unset;
    }

    .header-description {
        width: 70%;
    }

    .header-title {
        font-size: 4rem;
        display: inline-block;
    }

    .content-wrapper {
        display: flex;
    }

    .post-list, .content{
        width: 72%;
        margin-right: 5%;
    }

    .sidebar {
        width: 23%;
        padding: 0;
        margin: 0;
        border: unset;
    }

    .related-post .previous, .related-post .next {
        width: 48%;
    }
}