<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    {% include header.html %}

    <div class="container content-wrapper">
        <div class="content">
            <h1>{{ page.title | upcase }}</h1>
            <div class="content-meta">
                <a href="/about-me">{{ site.author | upcase }}</a> · 
                {{ page.date | date_to_long_string }} · {% assign words = content | number_of_words %}
                {% if words < 360 %}
                  1
                {% else %}
                  {{ words | divided_by:180 }}
                {% endif %}
                min read
            </div>
            {{ content }}

            <sub style="color: rgb(143, 143, 143);margin-top: 34px; margin-bottom: 34px">
                <span>TAGS : </span>
            {% for tag in page.tags %}
                <a href="#" class="post-tag">{{ tag | upcase }}</a>
            {% endfor %}
            </sub>

            <hr class="separator" style="margin: 21px 0 21px 0;">

            <div class="related-post">
                <div class="previous">
                {% if page.previous.url %}
                    <div style="color: rgb(143, 143, 143);">« Previous</div>
                    <a href="{{page.previous.url}}">{{page.previous.title | upcase }}</a>
                {% endif %}
                </div>
                <div class="next">
                {% if page.next.url %}
                    <div style="color: rgb(143, 143, 143);">Next »</div>
                    <a href="{{page.next.url}}">{{page.next.title  | upcase }}</a>
                {% endif %}
                </div>
            </div>
        </div>

        {% include sidebar.html %}
    </div>
    
    {% include footer.html %}
</body>
</html>